// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant {
  background-color: grey;
  border: 3px solid black;
  border-radius: 5px;
  margin: 15px;
  // display: inline-block;
}

.feedback {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
  // display: inline-block;
}
